
#request-authorization {
  display: none;
}

#website-thumbnail {
  width: 8em;
  height: 8em;
}

#user-data {
  display: none;
}

#profile-picture {
  width: 6em;
  height: 6em;
}

.select {
  width: auto;
}