
#request-authorization {
  display: none;
}

#website-thumbnail {
  width: 8em;
  height: 8em;
}

#user-data {
  display: none;
}

#profile-picture {
  width: 4.5em;
  height: 4.5em;
}

.select {
  width: auto;
}

#loading-top-listens {
  width: 2em;
  height: 2em;
}